---
layout: default
---
{%- assign base-cards-created = site.cards | where: "game-created", page.number -%}
{%- assign all-cards-created = base-cards-created -%}
{%- assign sets-created = site.sets | where: "game-created", page.number -%}
{%- for set in sets-created -%}
{%- assign cards-in-set = site.cards | where: "set.name", set.title -%}
{%- for card in cards-in-set -%}
{%- unless card.game-created -%}
{%- assign all-cards-created = all-cards-created | push: card -%}
{%- endunless -%}
{%- endfor -%}
{%- endfor -%}
{%- assign set-names-created = sets-created | map: "title" -%}
{%- for card in site.cards -%}
{%- if card.alternates -%}
{%- for alternate in card.alternates -%}
{%- if alternate.game-created -%}
{%- assign alternate-created = alternate.game-created -%}
{%- elsif set-names-created contains alternate.set.name -%}
{%- assign alternate-created = page.number -%}
{%- else -%}
{%- assign alternate-created = empty -%}
{%- endif -%}
{%- if alternate-created == page.number -%}
{%- assign all-cards-created = all-cards-created | push: alternate -%}
{%- endif -%}
{%- endfor -%}
{%- endif -%}
{%- endfor -%}
{%- if page.players -%}
{%- assign players = page.players -%}
{%- else -%}
{%- assign players = page.winners -%}
{%- for loser in page.losers -%}
{%- assign players = players | push: loser -%}
{%- endfor -%}
{%- endif -%}
{%- assign players = players | sort -%}
<div class="infobox">
    <div class="infobox-title">{{page.title}}</div>
    {% if page.image.path -%}
    <div class="infobox-image">
        <a href="/assets/images/{{page.image.path}}" target="_blank">
            <img src="/assets/images/{{page.image.path}}" alt="{{page.image.text}}">
        </a>
    </div>
    {%- endif %}
    <table class="infobox-table">
        <tr>
            <th>Game #</th>
            <td>{{page.number}}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{page.played-date}}</td>
        </tr>
        {% if page.pre-drawn-cards and page.blanks -%}
        {%- assign num-cards = page.pre-drawn-cards | plus: page.blanks -%}
        <tr>
            <th>Number of Cards</th>
            <td>{{num-cards}} ({{page.pre-drawn-cards}} existing + {{page.blanks}} blanks)</td>
        </tr>
        {%- endif %}
        {% unless all-cards-created == empty -%}
        <tr>
            <th>Cards Created</th>
            <td>{{all-cards-created | size}}</td>
        </tr>
        {%- endunless %}
        <tr>
            <th>Players</th>
            <td><ul>{% for player in players %}
                {%- assign author = site.players | where:"title", player -%}
                {%- if author -%}
                {%- assign author = author | first -%}
                <li><a href="{{author.url}}">{{author.title}}</a></li>
                {%- else -%}
                <li>{{player}}</li>
                {%- endif -%}
            {% endfor %}</ul></td>
        </tr>
        {% if page.winners -%}
        <tr>
            <th>Winners</th>
            <td><ul>{% for winner in page.winners %}
                {%- assign author = site.players | where:"title", winner -%}
                {%- if author -%}
                {%- assign author = author | first -%}
                <li><a href="{{author.url}}">{{author.title}}</a></li>
                {%- else -%}
                <li>{{winner}}</li>
                {%- endif -%}
            {% endfor %}</ul></td>
        </tr>
        {%- endif %}
        {% if page.losers -%}
        <tr>
            <th>Losers</th>
            <td><ul>{% for loser in page.losers %}
                {%- assign author = site.players | where:"title", loser -%}
                {%- if author -%}
                {%- assign author = author | first -%}
                <li><a href="{{author.url}}">{{author.title}}</a></li>
                {%- else -%}
                <li>{{loser}}</li>
                {%- endif -%}
            {% endfor %}</ul></td>
        </tr>
        {%- endif %}
        {% if page.game-ending-card -%}
        {%- assign card = site.cards | where: "title", page.game-ending-card | first -%}
        <tr>
            <th>Game Ending Card</th>
            <td><a href="{{card.url}}">{{card.title}}</a></td>
        </tr>
        {%- endif %}
        {% if page.game-ending-condition -%}
        <tr>
            <th>Game Ending Condition</th>
            <td>{{page.game-ending-condition}}</td>
        </tr>
        {%- endif %}
    </table>
</div>
{{content}}
