---
layout: default
---
{%- assign games-won = 0 -%}
{%- assign games-lost = 0 -%}
{%- assign games-tied = 0 -%}
{%- assign games-unknown = 0 -%}
{%- assign games = site.games | sort:"number" -%}
{%- assign games_played = "" | split:"," -%}
{%- for game in games -%}
    {%- if game.winners contains page.title or game.losers contains page.title or game.players contains page.title -%}
    {%- assign games_played = games_played | push: game -%}
    {%- if game.winners contains page.title -%}
    {%- assign number-winners = game.winners | size -%}
    {%- if number-winners == 1 -%}
    {%- assign games-won = games-won | plus: 1 -%}
    {%- else -%}
    {%- assign games-tied = games-tied | plus: 1 -%}
    {%- endif -%}
    {%- elsif game.losers contains page.title -%}
    {%- assign games-lost = games-lost | plus: 1 -%}
    {%- else -%}
    {%- assign games-unknown = games-unknown | plus: 1-%}
    {%- endif -%}
    {%- endif -%}
{%- endfor -%}
{%- assign games_played = games_played | sort:"number" -%}
{%- assign lowest-cards-in-game = -1 -%}
{%- assign lowest-game = empty -%}
{%- assign highest-cards-in-game = -1 -%}
{%- assign highest-game = empty -%}
{%- assign sets_created = site.sets | where:"author", page.title -%}
{%- assign sets_created = sets_created | sort:"number" -%}
{%- for game in games_played -%}
    {%- assign game-cards-created = "" | split: "," -%}
    {%- assign game-sets-created = site.sets | where: "game-created", game.number -%}
    {%- assign game-sets-created = game-sets-created | where:"author", page.title -%}
    {%- assign game-sets-created = game-sets-created | sort:"number" -%}
    {%- for set in game-sets-created -%}
        {%- assign cards-in-set = site.cards | where: "set.name", set.title -%}
        {%- assign cards-in-set = cards-in-set | sort:"set.number" -%}
        {%- for card in cards-in-set -%}
            {%- unless card.game-created -%}
            {%- assign game-cards-created = game-cards-created | push: card -%}
            {%- endunless -%}
        {%- endfor -%}
    {%- endfor -%}
    {%- assign set-names-created = sets_created | map:"title" -%}
    {%- assign game-set-names-created = game-sets-created | map:"title" -%}
    {%- for card in site.cards -%}
        {%- if card.alternates -%}
        {%- for alternate in card.alternates -%}
            {%- if alternate.game-created == game.number and set-names-created contains alternate.set.name -%}
            {%- assign game-cards-created = game-cards-created | push: alternate -%}
            {%- elsif game-set-names-created contains alternate.set.name -%}
            {%- assign game-cards-created = game-cards-created | push: alternate -%}
            {%- endif -%}
        {%- endfor -%}
        {%- endif -%}
    {%- endfor -%}
    {%- assign base-cards-created = site.cards | where: "game-created", game.number -%}
    {%- assign base-cards-created = base-cards-created | sort:"set.number" -%}
    {%- for card in base-cards-created -%}
        {%- if set-names-created contains card.set.name -%}
        {%- assign game-cards-created = game-cards-created | push:card -%}
        {%- endif -%}
    {%- endfor -%}
    {%- assign num-cards-created = game-cards-created | size -%}
    {%- if lowest-cards-in-game == -1 or lowest-cards-in-game > num-cards-created -%}
    {%- assign lowest-cards-in-game = num-cards-created -%}
    {%- assign lowest-game = game -%}
    {%- endif -%}
    {%- if highest-cards-in-game == -1 or highest-cards-in-game < num-cards-created -%}
    {%- assign highest-cards-in-game = num-cards-created -%}
    {%- assign highest-game = game -%}
    {%- endif -%}
{%- endfor -%}
{%- assign first_game = games_played | first -%}
{%- assign last_game = games_played | last -%}
{%- assign first_set = sets_created | first -%}
{%- assign last_set = sets_created | last -%}
{%- assign first_card = empty -%}
{%- assign cards_created = "" | split:"," -%}
{%- assign highest-cards-in-set = 0 -%}
{%- assign lowest-cards-in-set = 0 -%}
{%- assign smallest-set = empty -%}
{%- assign largest-set = empty -%}
{%- for set in sets_created -%}
    {%- assign cards = site.cards | where:"set.name", set.title -%}
    {%- for card in site.cards -%}
    {%- if card.alternates -%}
    {%- for alt in card.alternates -%}
    {%- if alt.set.name == set.title -%}
    {%- assign cards = cards | push: alt -%}
    {%- endif -%}
    {%- endfor -%}
    {%- endif -%}
    {%- endfor -%}
    {%- assign num-cards-in-set = cards | size -%}
    {%- if lowest-cards-in-set > num-cards-in-set or lowest-cards-in-set == 0 -%}
    {%- assign lowest-cards-in-set = num-cards-in-set -%}
    {%- assign smallest-set = set -%}
    {%- endif -%}
    {%- if highest-cards-in-set < num-cards-in-set or highest-cards-in-set == 0 -%}
    {%- assign highest-cards-in-set = num-cards-in-set -%}
    {%- assign largest-set = set -%}
    {%- endif -%}
    {%- assign cards = cards | sort: "set.number" -%}
    {%- for card in cards -%}
    {%- if first_card == empty -%}
    {%- assign first_card = card -%}
    {%- endif -%}
    {%- assign last_card = card -%}
    {%- assign cards_created = cards_created | push:card -%}
    {%- endfor -%}
{%- endfor -%}
{%- assign num-games-played = games_played | size -%}
{%- assign num-cards-created = cards_created | size -%}
{%- assign average-cards-per-game = num-cards-created | divided_by: num-games-played -%}
<div class="infobox">
    <div class="infobox-title">{{page.title}}</div>
    {% if page.image.path -%}
    <div class="infobox-image">
        <a href="/assets/images/{{page.image.path}}" target="_blank">
            <img src="/assets/images/{{page.image.path}}" alt="{{page.image.text}}">
        </a>
    </div>
    {%- endif %}
    <table class="infobox-table">
        <tr>
            <th>First Game</th>
            <td><a href="{{first_game.url}}">{{first_game.title}}</a> ({{first_game.played-date}})</td>
        </tr>
        <tr>
            <th>Latest Game</th>
            <td><a href="{{last_game.url}}">{{last_game.title}}</a> ({{last_game.played-date}})</td>
        </tr>
        <tr>
            <th># of Games Played</th>
            <td>{{num-games-played}}</td>
        </tr>
        <tr>
            <th>Games Won/Lost/Tied/Unk</th>
            <td>{{games-won}} / {{games-lost}} / {{games-tied}} / {{games-unknown}}</td>
        </tr>
        <tr>
            <th>First Set</th>
            <td><a href="{{first_set.url}}">{{first_set.title}}</a> ({{first_set.created-date}})</td>
        </tr>
        <tr>
            <th>Latest Set</th>
            <td><a href="{{last_set.url}}">{{last_set.title}}</a> ({{last_set.created-date}})</td>
        </tr>
        <tr>
            <th>Smallest Set</th>
            <td><a href="{{smallest-set.url}}">{{smallest-set.title}}</a> ({{lowest-cards-in-set}} cards, {{smallest-set.created-date}})</td>
        </tr>
        <tr>
            <th>Largest Set</th>
            <td><a href="{{largest-set.url}}">{{largest-set.title}}</a> ({{highest-cards-in-set}} cards, {{largest-set.created-date}})</td>
        </tr>
        <tr>
            <th># of Sets Created</th>
            <td>{{sets_created | size}}</td>
        </tr>
        <tr>
            <th>First Card</th>
            <td><a href="{{first_card.url}}">{{first_card.title}}</a> ({% include card-created-date.html card=first_card %})</td>
        </tr>
        <tr>
            <th>Latest Card</th>
            <td><a href="{{last_card.url}}">{{last_card.title}}</a> ({% include card-created-date.html card=last_card %})</td>
        </tr>
        <tr>
            <th># of Cards Created</th>
            <td>{{num-cards-created}}</td>
        </tr>
        <tr>
            <th>Average Cards Created per Game</th>
            <td>{{average-cards-per-game}}</td>
        </tr>
        <tr>
            <th>Least Cards Created in a Game</th>
            <td>{{lowest-cards-in-game}} cards (<a href="{{lowest-game.url}}">{{lowest-game.title}}</a>, {{lowest-game.played-date}})</td>
        </tr>
        <tr>
            <th>Most Cards Created in a Game</th>
            <td>{{highest-cards-in-game}} cards (<a href="{{highest-game.url}}">{{highest-game.title}}</a>, {{highest-game.played-date}})</td>
        </tr>
    </table>
</div>
{{content | markdownify}}
<h2 id="sets-created">Sets Created</h2>
<ul>
{% for set in sets_created -%}
    <li><a href="{{set.url}}">{{set.title}}</a></li>
    {%- endfor %}
</ul>

<h2 id="cards-created">Cards Created</h2>
{% include card-grid.html cards=cards_created %}