---
layout: default
---
{%- assign cards = site.cards | where:"set.name", page.title -%}
{%- for card in site.cards -%}
{%- if card.alternates -%}
{%- for alt in card.alternates -%}
{%- if alt.set.name == page.title -%}
{%- assign cards = cards | push: alt -%}
{%- endif -%}
{%- endfor -%}
{%- endif -%}
{%- endfor -%}
{%- assign cards-in-set = cards | size -%}
{%- assign cards = cards | sort: "set.number" -%}
{%- assign game-created = site.games | where:"number", page.game-created | first -%}
<div class="infobox">
    <div class="infobox-title">{{page.title}}</div>
    {% if page.image.path -%}
    <div class="infobox-image">
        <a href="/assets/images/{{page.image.path}}" target="_blank">
            <img src="/assets/images/{{page.image.path}}" alt="{{page.image.text}}">
        </a>
    </div>
    {%- endif %}
    <table class="infobox-table">
        <tr>
            <th>Abbreviation</th>
            <td>{{page.abbreviation}}</td>
        </tr>
        <tr>
            <th>Set #</th>
            <td>{{page.number}}</td>
        </tr>
        <tr>
            <th>Game Created</th>
            <td>
                {%- if game-created -%}
                <a href="{{game-created.url}}">{{game-created.title}}</a>
                {%- else -%}
                Game #{{page.game-created}}
                {%- endif -%}
            </td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{page.created-date}}</td>
        </tr>
        <tr>
            <th>Author</th>
            {%- assign author = site.players | where:"title", page.author -%}
            {%- if author -%}
            {%- assign author = author | first -%}
            <td><a href="{{author.url}}">{{author.title}}</a></td>
            {%- else -%}
            <td>{{page.author}}</td>
            {%- endif -%}
        </tr>
        <tr>
            <th>Number of Cards</th>
            <td>{{cards-in-set}}</td>
        </tr>
    </table>
</div>
{{content | markdownify}}
<h2 id="cards">Cards</h2>
<div class="card-grid">
    {% for card in cards -%}
    {%- assign url = card.url -%}
    {%- unless card.url -%}
    {%- if card.base-title -%}
    {%- assign real_card = site.cards | where: "title", card.base-title | first -%}
    {%- else -%}
    {%- assign real_card = site.cards | where: "title", card.title | first -%}
    {%- endif -%}
    {%- assign url = real_card.url -%}
    {%- endunless -%}
    <div class="card">
        <a href="{{url}}">{{card.title}}</a>
        {%- if card.image.computer-path -%}
        <a href="/assets/images/{{card.image.computer-path}}" target="_blank">
            <img src="/assets/images/{{card.image.computer-path}}" alt="{{card.image.computer-text}}">
        </a>
        {%- else -%}
        <a href="/assets/images/{{card.image.path}}" target="_blank">
            <img src="/assets/images/{{card.image.path}}" alt="{{card.image.text}}">
        </a>
        {%- endif -%}
    </div>
    {% endfor %}
</div>
